.indicators{
	display: -webkit-box;
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 7;
	pointer-events: none;
	-webkit-transform: translate3d(-50%, 0, 0);
	-webkit-user-select: none;
	-webkit-box-pack: center;
}
.indicators input{
	display: block;
	margin: 0 4px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: #d2d2d2;
	pointer-events: none;
	-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.indicators input:checked{
	background: -webkit-linear-gradient(top, #ef67af 0%, #e42977 100%);
	box-shadow: none;
}